/* Locales palette */

$blue: dodgerBlue;
$lightBlue: #5eb0ff;

$orange: orangered;

$lightGrey: #f0f0f0;
$grey: #e4e4e4;
$medGrey: #999;
$cloudy: #f8f8f8;
$darkGrey: #1a1a1a;

$transparent: rgba(0, 0, 0, 0.1);

/* Complimentary */
