#admin-app {
    flex: 1 1 auto;
    padding: $u2;
    .blocks {
        display: flex;
        flex-flow: column;
        .block {
            margin: 0 0 $u4;
            // flex: 0 1 50%;
            &:first-child {
                // margin-right: $u3;
            }
        }
    }
}

#silos {
    display: flex;
    width: 100%;
    flex-flow: column;
    .silo {
        flex: 0 0 20%;

        margin: 0 0 $u 0;
        // border: 2px solid $blue;
        background: $grey;
        padding: $u $u;
        // border-radius: $qu;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info {
        }
        h3 {
            @extend %body-font;
            font-weight: 700;
            font-size: $pu + $qpu;
            margin: 0;
        }
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 $u2 0;

    th,
    td {
        padding: $hu;
        border: 1px solid $lightGrey;
    }

    td.cell-right {
    }

    td .tools {
        justify-content: flex-end;
        position: static;
        display: flex;
        border-radius: 0;
    }

    th {
        // border-bottom: 1px solid $medGrey;
        background: $lightGrey;
        text-transform: capitalize;
    }
}
