head
    meta(charset="UTF-8")
    meta(name="author" content="")
    meta(name="descriptionl" content="")
    meta(name="keywords" content="page" + page)
    meta(name="viewport",content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1,viewport-fit=cover,minimal-ui")
    title=siteName
    link(rel="stylesheet",href="/main.css")
    link(href="https://fonts.googleapis.com/css?family=Karla|PT+Serif:400,700",rel="stylesheet")
