block vars
doctype html
html
    include ./head
    body(class=page)
        include ./header
        #message
        div#wrapper
            main#root
                include ./loader
        include ./footer
    block scripts
