extends ../layout

block vars
    - var page = 'page-silo'

block scripts
    script.
        const process = {
            env: {
                NODE_ENV: '#{process.env.NODE_ENV || 'development'}'
            }
        };
        const global = window;
        const user = !{JSON.stringify(user)};

    script(src="/lib.min.js" sync)
    script(src="/app.min.js" sync)
    link(href="/assets/react-datepicker.css",rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.0/css/medium-editor.min.css",rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.0/css/themes/default.css",rel="stylesheet")

