#message {
    position: fixed;
    left: $u;
    bottom: $u;
    z-index: 9999;
    width: $u * 20;
}
#message .message {
    font-size: $pu;
    background: $blue;
    color: white;
    padding: $u $uh;
    margin: 0;
    margin: $u 0 0 0;
    transition: 0.5s ease;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
    &.warning {
        background: $orange;
    }
}
